/* Themes */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@400;700&display=swap');
body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --orange: rgba(247, 128, 101, 1);
    --black: rgba(0, 0, 0, 1);
    --gray: rgba(0, 0, 0, 0.5);
}
h1, h2, h3{
    font-family: 'Merriweather', serif;
    color: var(--black);
    font-weight: 700;
}
p, a, li, input, button, ::placeholder{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: var(--orange);
    font-weight: 700;
}
p{
    color: var(--gray);
    font-weight: 300;
}

/* Services */
.services{
    display: flex;
    gap: 40px;  
}